@import 'tailwindcss';

@theme {
  --color-text: var(--color-gray-600);
  --color-primary: var(--color-cyan-500);
  --responsive-gutter-width: max(calc(((100vw - 1440px + 2rem) / 2)), 1rem);
}

@layer base {
  section {
    padding: 0 1rem;
    overflow-x: hidden;
    margin: 0 auto;
    width: min(90rem, 100%);
  }

  body > * {
    @apply text-gray-950;
  }
  body {
    overflow-x: hidden;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col {
  @apply flex flex-col;
}

@utility placeholder-elm {
  @apply text-3xl font-black tracking-tighter text-cyan-50 uppercase;
}

.topic-badge {
  @apply text-base font-black;
}

.splide__track,
.splide__track ul {
  @apply !overflow-visible;
}
