@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-xs: 27rem;
  --color-text: var(--color-gray-400);
  --color-highlight: var(--color-gray-600);
  --color-primary: var(--color-cyan-600);
  --color-bg: var(--color-cyan-50);
  /* --responsive-gutter-width: max(calc(((100vw - 1120px) / 2)), 1rem); */
  --responsive-gutter-width: max(calc(((100vw - 1120px) / 2)), 6vw);
  --animate-opacityy: 0.5s opacityy ease-in-out;
}

@keyframes opacityy {
  0% {
    opacity: 0;
  }
  ,
  100% {
    opacity: 1;
  }
}

@layer base {
  section {
    @apply col mx-auto flex gap-10 overflow-x-hidden px-[var(--responsive-gutter-width)] py-20 lg:gap-20 lg:py-30;
  }

  body > * {
    @apply text-gray-800;
  }

  body {
    overflow-x: hidden;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .carousel-slide {
    & h3 {
      @apply text-2xl sm:text-4xl;
    }

    & p {
      @apply text-sm sm:text-lg;
    }

    & img {
      @apply mx-auto rounded-3xl;
    }
  }

  .hamburger-react {
    @apply rounded-full opacity-90;

    &:focus-visible {
      @apply ring-2 ring-blue-400;
    }
  }

  .card {
    @apply pointer-events-none absolute inset-0 size-10 -translate-1/2 scale-0 sm:size-20;
    & img {
      @apply size-full object-contain;
    }
  }

  .card.fav {
    @apply grayscale-0;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility absolute-center {
  @apply absolute top-1/2 right-1/2 translate-x-1/2 -translate-y-1/2;
}

@utility col {
  @apply flex flex-col;
}

@utility custom-focus-visible {
  @apply ring-5 ring-blue-500 outline-2 outline-white;
}

.topic-badge {
  @apply text-base font-black;
}
